* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    scrollbar-width: none;
}

:root {
    --primary-color: #368fef;
    --secondary-color: #7fb5ef;
    --bg-color: rgb(242, 242, 242);
    --contentBox-bg-color: white;
    --link-color: #0b76ea;
    --text-color: rgb(160, 160, 160);
    --hover-color: #d2d2d2;
}

.dark-mode {
    --primary-color: #000000;
    --secondary-color: #1b1b1b;
    --bg-color: #000000;
    --contentBox-bg-color: rgb(36, 36, 36);
    --link-color: #0b76ea;
    --text-color: rgb(218, 218, 218);
    --hover-color: #2d2d2d;
}

img {
    cursor: pointer;
}

header {
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
    z-index: 10;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 25%;
    padding: 0 4.5% 0 1%;
    justify-content: flex-start;
}

.nav-left .logo img {
    width: 60px;
    position: relative;
    bottom: 10px;
}


.nav-left .search-box {
    display: flex;
    align-items: center;
    background-color: var(--contentBox-bg-color);
    border-radius: 20px;
    padding: 0 10px;
    overflow: hidden;
    width: 100%;
}

.nav-left .search-box input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 5px 10px;
}

nav .nav-left .search-box img {
    width: 25px;
}

.nav-middle {
    width: 48%;
    padding: 0 4.5%;
}

.nav-middle .nav-links {
    display: flex;
    align-items: center;
    line-height: 3px;
}

.nav-middle .nav-links a {
    padding: 5px 10px;
    border-radius: 10px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid transparent;
    transition: all .4s linear;
}

.nav-middle .nav-links a:hover {
    background-color: var(--hover-color);
}

.nav-middle .nav-links img {
    filter: invert(1);
    padding-bottom: 5px;
}

.nav-middle .nav-links a:first-child {
    border-bottom: 2px solid var(--link-color);
    border-radius: 10px 10px 0 0;
    padding: 20px 0;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 25%;
    padding: 0 1%;
    justify-content: flex-end;
}

.nav-right .find-friends {
    background-color: var(--contentBox-bg-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: all .4s linear;
}


.nav-right .find-friends:hover {
    opacity: 0.7;
}

.nav-right .menu,
.nav-right .messenger,
.nav-right .notification {
    background-color: var(--secondary-color);
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-right .menu img,
.nav-right .messenger img,
.nav-right .notification img {
    padding-left: 1px;
    filter: invert(1);
}

.nav-right .user-profile {
    position: relative;
}

.nav-right .user-profile img {
    width: 30px;
    border-radius: 50%;
}

.nav-right .user-profile.online::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: rgb(0, 192, 22);
    border-radius: 50%;
    border: 1.5px solid white;
    position: absolute;
    top: 0;
    right: 0;
}

nav .user-settings-menu {
    background-color: var(--contentBox-bg-color);
    position: absolute;
    top: 72px;
    right: 20px;
    box-shadow: 0 0 10px #646464;
    border-radius: 5px;
    overflow: hidden;
    max-height: 0;
}

.user-settings-menu .settings {
    padding: 10px;
    width: 250px;
}

nav .user-settings-menu.height {
    max-height: unset;
    height: 343px;
}

nav .user-settings-menu .user-profile img {
    width: 20px;
    border-radius: 50%;
    object-fit: cover;
}

nav .user-settings-menu .user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin: 20px 0;
    color: var(--text-color);
}

nav .user-settings-menu .settings .user-profile .user-name a {
    color: var(--link-color);
    text-decoration: none;
}

nav .user-settings-menu .settings-options {
    font-size: 12px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 6px;
    transition: all .4s linear;
}

nav .user-settings-menu .settings-options:hover {
    background-color: var(--hover-color);
}

nav .user-settings-menu .settings-options i {
    filter: invert(1);
}

nav .user-settings-menu .settings-options:nth-child(1) {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 5px;
}


nav .user-settings-menu .settings-options a {
    text-decoration: none;
    color: var(--link-color);
    font-size: 12px;
}

.user-settings-menu .user-profile .theme-toggle-btn {
    width: 50px;
    height: 25px;
    background-color: var(--bg-color);
    border-radius: 20px;
    padding: 2px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 20px;
    transition: all 0.3s;
}

.user-settings-menu .user-profile .theme-toggle-btn span {
    display: inline-block;
    background-color: var(--contentBox-bg-color);
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.user-settings-menu .user-profile .theme-toggle-btn.dark {
    background-color: rgb(48, 48, 48);
    padding-left: 24px;

}

#main {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
    background-color: var(--bg-color);
}

.main-left-sidebar,
.main-right-sidebar {
    height: calc(100vh - 70px);
    width: 20%;
    overflow-y: auto;
    position: sticky;
    top: 70px;
    padding: 20px 0;
}

.main-right-sidebar {
    width: 27%;
}

.main-left-sidebar::-webkit-scrollbar,
.main-right-sidebar::-webkit-scrollbar {
    display: none;
}

.main-left-sidebar .left-sidebar-links {
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.main-left-sidebar .left-sidebar-links nav ul li {
    list-style: none;
    line-height: 15px;
}

.main-left-sidebar .left-sidebar-links nav ul li a {
    list-style: none;
    color: var(--text-color);
    font-weight: 600;
    font-size: 14px;
    display: flex;
    gap: 5px;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 10px 0;
    border-radius: 7px;
    align-items: center;
    font-weight: bold;
    transition: all .4s linear;
}

.main-left-sidebar .left-sidebar-links nav ul li a span {
    background-color: var(--contentBox-bg-color);
    border-radius: 50%;
    padding: 5px;
}

.main-left-sidebar .left-sidebar-links nav ul li a span img:last-child {
    filter: invert(1);
}

.main-left-sidebar .left-sidebar-links nav ul li a:hover {
    background-color: var(--hover-color);
    ;
}


.main-left-sidebar .left-sidebar-shortcuts {
    margin-top: 20px;
}

.main-left-sidebar .left-sidebar-shortcuts .shortcuts a {
    display: block;
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    margin: 10px 0;
    font-size: 14px;
    padding: 5px;
    border-radius: 10px;
    transition: all .4s linear;
}

.main-left-sidebar .left-sidebar-shortcuts .shortcuts a:hover {
    background-color: var(--hover-color);
    ;
}

.main-left-sidebar .left-sidebar-shortcuts .shortcuts a img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
}

.main-container {
    height: calc(100vh - 70px);
    width: 50%;
    overflow-y: auto;
    position: sticky;
    top: 70px;
    padding: 20px;
}

.main-container::-webkit-scrollbar {
    display: none;
}

.story-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.story-container .story {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/images/user1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 18%;
    height: 200px;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    transition: all .4s linear;
}

.story-container .story:nth-child(2) {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/images/user2.jpg");
}

.story-container .story:nth-child(3) {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/images/user3.jpg");
}

.story-container .story:nth-child(4) {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/images/user4.jpg");
}

.story-container .story:nth-child(5) {
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("../assets/images/user5.jpg");
}

.story-container .story:hover {
    opacity: 0.9;
    transform: scale(1.01);
}

.story-container .story img {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    border: 2px solid var(--link-color);
    object-fit: cover;
    transition: all .4s linear;
}

.story-container .story img:hover {
    transform: scale(1.1);
}

.story-container .story p {
    position: absolute;
    bottom: 5px;
    font-size: 10px;
    font-weight: 600;
    left: 50%;
    transform: translate(-50%);
    color: white;
}

.post-input-container {
    background-color: var(--contentBox-bg-color);
    padding: 10px;
    border-radius: 10px;
}

.post-input-container .user-profile {
    display: flex;
    align-items: center;
    color: rgb(91, 91, 91);
    gap: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

.post-input-container .user-profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.post-input-container .user-profile input {
    width: 88%;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: var(--contentBox-bg-color);
    padding: 5px 10px;
    font-size: 18px;
}

.post-input-container .post-types {
    display: flex;
    align-items: center;
    width: 100%;
}

.post-input-container .post-types div {
    width: 100%;
}

.post-input-container .post-types div a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    width: 100%;
    padding: 5px 10px;
    justify-content: center;
    border-radius: 10px;
    transition: all .3s linear;
}

.post-input-container .post-types div a:hover {
    background-color: var(--hover-color);
}

.post-input-container .post-types div a img {
    width: 25px;
}

.users-posts .user-post .post-title {
    display: flex;
    align-items: center;
    font-size: 10px;
}

.users-posts .user-post {
    background-color: var(--contentBox-bg-color);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.users-posts .user-post:last-child {
    margin-bottom: 10px;
}

.users-posts .user-post .post-title img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.users-posts .user-post .post-title .user-name p:last-child {
    color: gray;
    font-size: 8px;
    font-weight: 500;
}

.users-posts .user-post .post-title .user-name p {
    font-size: 14px;
}
.user-post .post-description {
    font-size: 12px;
    margin: 10px 0;
}

.user-post .post-description a {
    text-decoration: none;
    font-weight: 500;
    color: var(--link-color);
}

.user-post .post img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: top center;

}

.user-post .reaction-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 14px;
}

.user-post .reaction-row .like {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 5px;
    padding: 10px 20px;
    transition: all .2s linear;
}

.user-post .reaction-row .like:hover {
    background-color: var(--hover-color);
}

.user-post .reaction-row .like i {
    filter: invert(1);

}


.right-sidebar-sponsored {
    padding: 20px;
    background-color: var(--contentBox-bg-color);
    border-radius: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(255, 0, 0);
}

.right-sidebar-sponsored .sponsored-card {
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    transition: all .4s linear;
    margin: 10px 0;
    font-size: 14px;
}

.right-sidebar-sponsored .sponsored-card:hover {
    background-color: var(--hover-color);
}

.right-sidebar-sponsored .sponsored-card img {
    border-radius: 10px;
    width: 100px;
    height: 130px;
    object-fit: cover;
}

.right-sidebar-sponsored .sponsored-card .info p {
    color: var(--text-color);
    font-size: 12px;
    margin-top: 5px;
}

.right-sidebar-events .event-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.right-sidebar-events .event-title a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: var(--link-color);
}

.right-sidebar-events .event {
    display: flex;
    gap: 10px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    transition: all .4s linear;
}

.right-sidebar-events .event:hover {
    background-color: var(--hover-color);
    ;
}

.right-sidebar-events .event .event-date {
    background-color: var(--secondary-color);
    ;
    border-radius: 5px;
    width: 45px;
    overflow: hidden;
    text-align: center;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.right-sidebar-events .event .event-date span {
    background-color: #368fef;
    font-size: 10px;
    display: inline-block;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: -6px;
    font-weight: 700;
    left: 0;
}

.right-sidebar-events .event .event-info .location {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.right-sidebar-events .event .event-info a {
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
    color: var(--link-color);
}

.right-sidebar-events .event .event-info .location img {
    width: 12px;
    height: 12px;
    margin: 4px 0;
    margin-right: 5px;
}

.right-sidebar-advertisement {
    margin: 30px 0;
}

.right-sidebar-advertisement .ad-title {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
}

.right-sidebar-advertisement .ad-title a {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: var(--link-color);
}

.right-sidebar-advertisement img {
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
}

.right-sidebar-chats .chat {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    position: relative;
    padding: 10px;
    border-radius: 10px;
    font-weight: 600;
    transition: all .4s linear;
}

.right-sidebar-chats .chat:hover {
    background-color: var(--hover-color);
    ;
}

.right-sidebar-chats .chat img {
    width: 30px;
    border-radius: 50%;
    height: 30px;
    object-fit: cover;
}

.right-sidebar-chats .chat.online::after {
    content: "";
    width: 6px;
    height: 6px;
    background-color: rgb(0, 192, 22);
    border-radius: 50%;
    border: 1.5px solid white;
    position: absolute;
    bottom: 10px;
    left: 33px;
}









/* ! Profile Page */
#profile-page-main {
    padding: 0 10%;
    background-color: var(--bg-color);
}

.cover-box {
    background-color: var(--secondary-color);
    width: 100%;
    padding-bottom: 10px;
    border-radius: 10px;
}

.cover-box .cover {
    background-image: url(../assets/images/user1.png);
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
}

.cover>img {
    width: 150px;
    border-radius: 50%;
    position: absolute;
    bottom: 80px;
    right: 80px;
}

.cover button {
    background-color: var(--bg-color);
    padding: 5px 10px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: 600;
}

.cover button img {
    height: 15px;
}

.cover-box .profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.profile .profile-left {
    display: flex;
    align-items: center;
    position: relative;
}

.profile .profile-left img {
    width: 150px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile .profile-left .change-profile-photo {
    background-color: var(--secondary-color);
    padding: 1.5px 0 0 1.4px;
    position: absolute;
    bottom: 10px;
    left: 114px;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: 1px solid var(--bg-color);
}

.profile-left .change-profile-photo .camera {
    width: 30px !important;
    background-color: #000000;
    padding: 3px;
}

.profile-left .account-name {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-left .account-name h3 {
    font-size: 25px;
    margin: 10px 0;
}

.profile-left .account-name h3 span {
    font-weight: 400;
    font-size: 22px;
}

.profile-left .account-name>div {
    color: var(--text-color);
    font-weight: 600;
}

.profile-left .account-name .followers-imgs img {
    width: 20px;
    margin-right: -7px;
    border: 1px solid black;
}

.profile-right {
    display: flex;
    gap: 10px;
}

.profile-right button {
    display: flex;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 5px 10px;
    font-weight: 600;
}

.profile-right button img {
    width: 20px;
    filter: invert(1);
}

.profile-right button:first-child {
    background-color: #368fef;
}

.profile-right button:first-child img {
    filter: invert(0);
}

.account-details {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.account-details .ad-left {
    width: 40%;
}

.ad-left .user-details {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
}

.ad-left .user-details .intro button {
    width: 100%;
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    cursor: pointer;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 600;
}

.photos-box {
    background-color: var(--secondary-color);
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

.photos-box .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    margin-bottom: 10px;
}

.photos-box .text a {
    color: var(--link-color);
    text-decoration: none;
    font-size: 12px;
}

.photos-box .photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 3px;
    overflow: hidden;
    row-gap: 1.5%;
}

.photos-box .photos img {
    width: 97%;
    object-fit: cover;
}

.account-details .ad-right {
    width: 59%;
}

.photos-box>p {
    margin: 10px 0;
    font-size: 12px;
}

.photos-box .friends-photos {
    row-gap: 2%;
    column-gap: 1%;
}

.photos-box .friends-photos img {
    object-fit: cover;
    border-radius: 4px;
}

nav .nav-left .logo .rsp-logo {
    display: none;
}


@media screen and (max-width: 1200px) {
    .story:last-child {
        display: none;
    }

    .story-container .story {
        width: 24%;
        height: 260px;
        white-space: nowrap;
    }

    .nav-left,
    .nav-right {
        padding: 0 2%;
    }

    .nav-right .find-friends {
        display: none;
    }

    .cover-box .profile {
        padding: 0 2%;
    }

    .profile-left .account-name h3 {
        font-size: unset;
    }

    .profile-left .account-name h3 span {
        font-size: unset;
    }
}

@media screen and (max-width: 950px) {
    #main {
        padding-left: 0;
    }

    .main-left-sidebar {
        display: none;
    }

    .main-container {
        width: 65%;
    }

    .nav-left .search-box {
        width: fit-content;
        padding: 5px;
    }

    nav .nav-left .search-box img {
        width: 20px;
    }

    .nav-left .search-box input {
        display: none;
    }

    .main-right-sidebar {
        width: 33%;
    }
}

@media screen and (max-width: 900px) {
    #main {
        padding: 0;
    }

    .main-right-sidebar {
        display: none;
    }

    .main-container {
        width: 100%;
    }

    .cover>img {
        display: none;
    }

    .profile {
        flex-direction: column;
        gap: 20px;
        margin: 20px 0;
    }

    .profile .profile-left,
    .profile .profile-right {
        width: 100%;
        justify-content: space-evenly;
    }

    .profile .profile-right button {
        width: 33%;
        justify-content: space-between;
        justify-content: center;
        gap: 10px;
    }

    .profile .profile-left .change-profile-photo {
        left: 31%;
        bottom: 7px;
    }


    .account-details {
        flex-direction: column;
    }

    .account-details .ad-left,
    .account-details .ad-right {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    #profile-page-main {
        padding: 0 1%;
    }

    header {
        height: 94px;

        nav {
            flex-wrap: wrap;
        }
    }

    nav .nav-left .logo .lg-logo {
        display: none;
    }

    nav .nav-left .logo .rsp-logo {
        display: block;
    }
    
    nav .nav-left .logo .rsp-logo img {
        width: 150px;
        position: relative;
        top: 0px;
    }
    nav .nav-middle {
        order: 3;
        width: 100%;
        padding: 0 30px;
        margin-top: 0px;
    }

    nav .nav-middle .nav-links a {
        border-bottom: 5px solid var(--primary-color);
        transition: all .4s linear;
        border-radius: 10px 10px 0 0;
    }
    
    
    .nav-middle .nav-links a:first-child {
    padding: 2px;

}

    nav .nav-middle .nav-links a:hover {
        border-bottom: 5px solid var(--secondary-color);
    }

    nav .nav-left {
        align-items: center;
        width: 80%;
        justify-content: space-between;
        padding: 10px;
    }

    .nav-left .search-box {
        padding: 5px;
        width: 90%;
        justify-content: flex-end;
        width: fit-content;
        align-items: center;
    }

    nav .nav-right {
        width: fit-content;
        padding: 10px;
    }

    .nav-right .menu,
    .nav-right .notification {
        display: none;
    }

    .cover-box .cover {
        height: 180px;
    }

    .profile .profile-left img {
        width: 120px;
    }

    .profile-left .account-name>div {
        font-size: 10px;
    }

    .profile .profile-right {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px 0px;
    }

    .profile .profile-right button {
        font-size: 12px;
        width: 48%;

    }

    .profile .profile-right button:first-child {
        order: 3;
        width: 100%;
    }

    #main,
    .nav-left,
    nav .nav-middle,
    .nav-right {
        padding: 0;
    }

    .main-container {
        padding: 10px;
    }
}

@media screen and (max-width: 450px) {
    header {
        padding: 0 10px;
    }

    nav .nav-left {
        width: 70%;
    }

    .story-container .story {
        height: 150px;
    }

    nav .nav-left .search-box {
        width: auto;
        padding: 5px;
    }

    .main-container {
        padding: 0;
        margin-top: 10px;
    }

    .post-input-container .post-types div a {
        font-size: 10px;
    }
    .post-input-container .post-types div a img {
        width: 20px;
    }
}